description "Gunicorn server for {{ host }}"

start on net-device-up
stop on shutdown

respawn

setuid rebecka
chdir /home/rebecka/sites/{{ host }}/source

exec ../virtualenv/bin/gunicorn \
    --bind unix:/tmp/{{ host }}.socket \
    superlists.wsgi:application